.d-flex {
    display : flex;
}
.boxMedium {
    padding:10px;
    margin: 5px;
}
.border {
    border:0.5px solid black;
}
.borderfooter {
    border-top: 0.5px solid black;
}
.img150px {
    width:150px;
    height: 150px;
}
.img100px {
    width : 100px;
    height: 100px;
}
.img75px {
    width: 75px;
    height:75px;
}
.img50px {
    width: 50px;
    height: 50px;
}

.backgroundantiquewhite {
    background-color: antiquewhite;
}

.margintop50px {
    margin-top: 50px;
}
.margintop5px {
    margin-top: 5px;
}
.margintop10px{
    margin-top: 10px;
}
.marginright20px{
    margin-right: 20px;
}

.margin20px{
    margin: 20px;
}
.margintopbottom10px{
    margin-top: 10px;
    margin-bottom: 10px;
}
.marginleftright15px{
    margin-left: 15px;
    margin-right: 15px;
}
.marginright100px{
    margin-right: 100px;
}

.backgroundaqua{
    background-color: aqua;
}
.backgroundblue{
    background-color: blue;
}
.backgroundgreen{
    background-color: green;
}
.backgroundyellow{
    background-color: yellow;
}
.backgroundred{
    background-color: red;
}
.textunderline {
    text-decoration: underline;
}
.padding5px{
    padding: 5px;
}